// COLOURS / FONTS
$color-primary-dark: rgb(202, 22, 163);
$color-primary-light: rgb(255, 58, 189);

$color-secondary: rgb(61, 16, 50);

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$font-primary: "Nunito", sans-serif;

// BREAKPOINTS

$bp-largest: 71.8rem; // 1150 px
$bp-large: 61.25rem; // 980 px
$bp-medium: 53.125rem; // 850 px
$bp-small: 45rem; // 720 px
$bp-smaller: 35.625rem; // 570 px
$bp-smaller2: 31.1rem; // 497 px
$bp-smaller3: 25rem; // 400 px
$bp-smallest: 23.625rem; // 378 px
$bp-smallest1: 22.5rem; // 360 px

// HEADINGS

.heading-1 {
  font-size: 6rem;
  text-align: center;

  @media only screen and (max-width: $bp-large) {
    font-size: 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 3rem;
  }

  @media only screen and (max-width: $bp-smaller2) {
    font-size: 2.3rem;
    padding: 0 3rem;
  }

  @media only screen and (max-width: $bp-smaller3) {
    font-size: 2rem;
  }
}

.heading-2 {
  font-size: 3rem;
  text-align: center;
  padding: 0 2rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: $bp-smaller3) {
    font-size: 1.85rem;
  }
}

.heading-3 {
  font-size: 2rem;
  text-align: center;

  @media only screen and (max-width: $bp-smaller3) {
    font-size: 1.65rem;
  }
}

.heading-4 {
  font-size: 1.7rem;
  text-align: center;
  color: rgb(255, 58, 189);

  @media only screen and (max-width: $bp-smaller3) {
    font-size: 2rem;
  }
}

.heading-5 {
  font-size: 1.5rem;
  text-align: center;
}

// BUTTONS

.btn-pink {
  font-size: 2rem;
  border-radius: 1rem;
  font-family: bold;
  border: 0.1rem solid $color-primary-light;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 3.2rem;
  color: white;
  background-color: $color-primary-light;
  display: inline-block;
  margin: 0.4rem 0;

  @media only screen and (max-width: $bp-smaller2) {
    font-size: 1.6rem;
    padding: 1.2rem 2.6rem;
  }
}

.btn-pink:hover,
.btn-pink:focus {
  border: 0.1rem solid $color-primary-light;
  color: $color-primary-light;
  background-color: white;
  transition: background-color 0.5s;
}

.btn-white {
  font-size: 2rem;
  border-radius: 1rem;
  font-family: bold;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 3.2rem;
  color: $color-primary-light;
  background-color: white;
  display: inline-block;

  @media only screen and (max-width: $bp-smaller2) {
    font-size: 1.6rem;
    padding: 1.2rem 2.6rem;
  }
}

.btn-white:hover,
.btn-pink:focus {
  border: 0.1rem solid $color-primary-light;
  background-color: $color-primary-light;
  color: white;
  transition: background-color 0.5s;
}

.btn-grey {
  font-size: 2rem;
  border-radius: 1rem;
  font-family: bold;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 3.2rem;
  color: rgb(100, 100, 100);
  background-color: rgb(219, 212, 212);
  display: inline-block;

  @media only screen and (max-width: $bp-smaller2) {
    font-size: 1.6rem;
    padding: 1.2rem 2.6rem;
  }
}

// to-top button

.to-top {
  background: rgb(37, 10, 31);
  position: fixed;
  bottom: 4rem;
  right: 3.5rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  color: white;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 9999;
}

.to-top.active {
  bottom: 8rem;
  opacity: 1;
  pointer-events: auto;
}

// BASIC SET-UP

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}
