.contact {
  background-color: $color-grey-light-1;
  height: 75vh;
  padding: 4rem 7rem;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5rem;

  @media only screen and (max-width: $bp-large) {
    height: 115vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  &__content {
    margin-top: 5rem;
    &-heading {
      margin-bottom: 2rem;

      @media only screen and (max-width: $bp-large) {
        margin-bottom: 0;
      }
    }

    &-paragraph {
      font-size: 1.5rem;
    }

    &-location {
      font-size: 1.5rem;
      margin: 2rem 0;
      color: $color-primary-light;

      @media only screen and (max-width: $bp-large) {
        margin: 0;
      }
    }

    &-numbers {
      font-size: 1.5rem;
      margin: 2rem 0;
      color: $color-primary-light;

      @media only screen and (max-width: $bp-large) {
        margin: 0;
      }
    }
  }

  &__form {
    border: none;
    margin: 1.5rem 0;
    padding-right: 4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media only screen and (max-width: $bp-large) {
      align-items: center;
    }

    &-input {
      height: 4rem;
      width: 30rem;
      margin-bottom: 3rem;
      border-radius: 0.5rem;
      border: 0.1rem solid $color-grey-light-2;

      @media only screen and (max-width: $bp-large) {
        width: 60rem;
      }
    }

    &-pink {
      color: $color-primary-light;
    }

    &-checkbox1 {
      display: block;
      position: relative;
      padding-left: 3.5rem;
      margin-bottom: 1.2rem;
      cursor: pointer;
      font-size: 1.5rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &-checkbox1 input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 2rem;
      width: 2rem;
      background-color: rgb(196, 196, 196);
      z-index: 10;
      border-radius: 100rem;
    }

    &-checkbox1:hover input ~ .checkmark {
      background-color: #ccc;
    }

    &-checkbox1 input:checked ~ .checkmark {
      background-color: rgb(255, 58, 189);
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    &-checkbox1 input:checked ~ .checkmark:after {
      display: block;
    }

    &-checkbox1 .checkmark:after {
      left: 0.9rem;
      top: 0.5rem;
      width: 0.5rem;
      height: 1rem;
      border: solid white;
      border-width: 0 0.3rem 0.3rem 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
