.expertise {
  background-color: white;
  //height: 135vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  @media only screen and (max-width: $bp-large) {
    height: 280vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  &__img1 {
    height: 60rem;
    background: url(/img/leonard-cotte-c1Jp-fo53U8-unsplash.jpeg) center center
      no-repeat;
    background-size: cover;
  }

  &__img2 {
    height: 60rem;
    background: url(/img/sasha-freemind-nXo2ZsKHTHg-unsplash.jpeg) center center
      no-repeat;
    background-size: cover;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 7rem;

    @media only screen and (max-width: $bp-large) {
      justify-content: center;
    }

    &-heading {
      text-align: center;
      margin-bottom: 3rem;

      @media only screen and (max-width: $bp-large) {
        margin-bottom: 0;
      }
    }

    &-list-1 {
      list-style: none;
      padding: 2rem;
      font-size: 1.5rem;
      position: relative;

      &-item::before {
        content: "";
        border-color: transparent $color-primary-light;
        border-style: solid;
        border-width: 0.6rem 0 0.6rem 0.9rem;
        display: block;
        height: 0;
        width: 0;
        left: -1.7rem;
        top: 1.6rem;
        position: relative;
      }

      &-paragraph {
        font-size: 1.2rem;
        color: #aaa;
      }
    }

    &-list-2 {
      list-style: none;
      display: inline-flex;
      justify-content: space-around;
      padding: 1rem;

      &-span {
        color: $color-primary-light;
      }

      &-paragraph {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      &-item {
        padding: 0 2rem;
        font-size: 1.5rem;
      }
    }

    &-progressbar {
      height: 3rem;
      margin: 0.5rem 0;

      &-1 {
        background-color: $color-primary-light;
        border-radius: 0.2rem;
        height: 3rem;
        width: 100%;
      }

      &-2 {
        background-color: $color-primary-light;
        border-radius: 0.2rem;
        height: 3rem;
        width: 76%;
      }

      &-3 {
        background-color: $color-primary-light;
        border-radius: 0.2rem;
        height: 3rem;
        width: 90%;
      }
    }
  }
}
