.header {
  background-image: linear-gradient(
      rgba(255, 58, 189, 0.35),
      rgba(255, 58, 189, 0.35)
    ),
    url(/img/jack-b-iA9-ZBGgEwo-unsplash.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: $font-primary;
  font-size: 1.5rem;
  color: white;

  display: flex;
  flex-direction: column;

  &__paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem 0;
  }

  &__nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-logo {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      @media only screen and (max-width: $bp-smaller2) {
        width: 45%;
      }

      @media only screen and (max-width: $bp-smallest) {
        width: 55%;
      }

      &-img {
        width: 4rem;
        height: 4rem;
        border-radius: 100rem;
        margin-right: 1rem;

        @media only screen and (max-width: $bp-small) {
          padding-bottom: 0.8rem;
        }

        @media only screen and (max-width: $bp-smaller2) {
          padding-bottom: 0.5rem;
        }

        @media only screen and (max-width: $bp-smaller3) {
          padding-bottom: 1.2rem;
          padding-left: 1.5rem;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 70%;
      /* @media only screen and (max-width: 850px) {
        display: none;
      } */

      @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 10vh;
        background-color: rgb(48, 13, 39);
        width: 35%;
        padding: 1rem 0 1rem 2rem;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
      }

      @media only screen and (max-width: $bp-smallest1) {
        width: 40%;
        align-items: center;
        justify-content: center;
      }

      &-item {
        list-style: none;
        padding: 0 2rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.8rem;
        cursor: pointer;
        margin-top: 1.2rem;

        @media only screen and (max-width: $bp-largest) {
          padding: 0 1rem;
          font-size: 1.5rem;
        }

        &-link {
          position: relative;
          text-decoration: none;
          color: white;
        }

        &-link:hover,
        &-link:focus {
          color: $color-primary-light;
          transition: color 0.2s;
          cursor: pointer;
        }
      }
    }

    &-icon {
      display: none;

      @media only screen and (max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
        cursor: pointer;
      }
    }

    &-icon div {
      width: 2.5rem;
      height: 0.3rem;
      background-color: white;
      margin: 0.2rem 2.5rem;
      transition: all 0.3s ease;
    }
  }

  &__business {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-paragraph {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;

      @media only screen and (max-width: $bp-large) {
        padding: 0 10%;
        text-align: center;
      }

      @media only screen and (max-width: $bp-smaller2) {
        padding: 0 20%;
      }
    }
  }
}

// Sticky navbar
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(48, 13, 39);
  z-index: 100;
  transition: 0.5s;
}
// Rolling out the menu with navbar options
.nav-active {
  transform: translateX(0%);
}

// Links fading when clicking on burger icon
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
// Making burger icon into cross
.toggle .header__nav-icon1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}

.toggle .header__nav-icon2 {
  opacity: 0;
}

.toggle .header__nav-icon3 {
  transform: rotate(45deg) translate(-0.5rem, -0.5rem);
}
