.projects {
  height: 100vh;

  @media only screen and (max-width: $bp-large) {
    height: 160vh;
  }

  @media only screen and (max-width: $bp-medium) {
    height: 170vh;
  }

  @media only screen and (max-width: $bp-small) {
    height: 300vh;
  }

  @media only screen and (max-width: $bp-smaller) {
    height: 315vh;
  }

  @media only screen and (max-width: $bp-smaller2) {
    height: 315vh;
  }

  @media only screen and (max-width: $bp-smaller3) {
    height: 302vh;
  }

  @media only screen and (max-width: $bp-smallest) {
    height: 290vh;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10rem;

  &__heading {
    margin-bottom: 5rem;
  }

  &__buttons {
    list-style: none;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: $bp-medium) {
      flex-wrap: wrap;
      padding: 0 10rem;
    }

    @media only screen and (max-width: $bp-smaller3) {
      flex-wrap: wrap;
      padding: 0 2rem;
    }
  }

  &__list {
    margin: 0 1.1rem 2.5rem 1.1rem;
  }

  &__images {
    width: 86vw;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: $bp-large) {
      grid-template-rows: 4;
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-rows: 8;
      grid-template-columns: 1fr;
    }

    @media only screen and (max-width: $bp-smaller3) {
      width: 100%;
    }

    &-shoots1 {
      background-size: cover;
      background-position: center;
      display: block;
      height: 23rem;
      background-image: url(/img/jack-b-iA9-ZBGgEwo-unsplash.jpeg);
      max-width: 100%;
      max-height: 100%;
    }

    &-shoots2 {
      background-size: cover;
      background-position: center;
      display: block;
      height: 23rem;
      background-image: url(/img/cherry-laithang-MT1OB3FNx-M-unsplash.jpeg);
      max-width: 100%;
      max-height: 100%;
    }

    &-shoots3 {
      background-size: cover;
      background-position: center;
      display: block;
      height: 23rem;
      background-image: url(/img/emre-karatas-P1-klFjzV14-unsplash.jpeg);
      max-width: 100%;
      max-height: 100%;
    }

    &-shoots4 {
      background-size: cover;
      background-position: center;
      display: block;
      height: 23rem;
      background-image: url(/img/radek-kilijanek-Mz0rv0EbJGk-unsplash.jpeg);
      max-width: 100%;
      max-height: 100%;
    }

    &-shoots5 {
      background-size: cover;
      background-position: center;
      display: block;
      height: 23rem;
      background-image: url(/img/sasha-freemind-nXo2ZsKHTHg-unsplash.jpeg);
      max-width: 100%;
      max-height: 100%;
    }

    &-shoots6 {
      background-size: cover;
      background-position: center;
      display: block;
      height: 23rem;
      background-image: url(/img/abigail-lynn-rdmJc2Os4EM-unsplash.jpeg);
      max-width: 100%;
      max-height: 100%;
    }

    &-shoots7 {
      background-size: cover;
      background-position: center;
      display: block;
      height: 23rem;
      background-image: url(/img/alps-patel-Eb40vRVVifQ-unsplash.jpeg);
      max-width: 100%;
      max-height: 100%;
    }

    &-shoots8 {
      background-size: cover;
      background-position: center;
      display: block;
      height: 23rem;
      background-image: url(/img/ben-maguire-FTYgqLeseI4-unsplash.jpeg);
      max-width: 100%;
      max-height: 100%;
    }
  }
}
